In [2]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing
from sklearn import metrics
import numpy as np
#from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split

In [3]:
path = "C:/Users/61487/Desktop/CompanyNGO/companyandngo/Data/"
US_Dataset = pd.read_csv(path + 'final_features.csv')
US_Dataset.head()

,Date,Non-farm_Payrolls,Civilian_Unemployment_Rate,Effective_Fed_Funds,CPI_All_Items,10Y_Treasury_Rate,5Y_Treasury_Rate,3_Month_T-Bill_Rate,IPI,S&P_500_Index,...,10Y_Treasury_Rate_12_chg,S&P_500_Index_12_chg,3M_10Y_Treasury_Spread,Payrolls_3mo_vs_12mo,IPI_3mo_vs_12mo,CPI_3mo_vs_12mo,Recession,Recession_in_6mo,Recession_in_12mo,Recession_in_24mo
0,2020-04-01,131045.0,14.7,0.05,255.902,0.66,0.39,0.14,92.5919,2912.429932,...,0.260870,0.988662,0.52,0.678620,-0.001128,0.951898,0,0,0,0
1,2020-03-01,151582.0,4.4,0.65,257.953,0.87,0.59,0.29,104.3262,2584.590088,...,0.338521,0.911865,0.58,0.980447,0.000394,0.977239,0,0,0,0
2,2020-02-01,152463.0,3.5,1.58,259.050,1.50,1.32,1.52,109.2569,2954.219971,...,0.559701,1.060956,-0.02,1.001704,-0.004311,0.995976,0,0,0,0
3,2020-01-01,152212.0,3.6,1.55,258.820,1.76,1.56,1.52,109.1337,3225.520020,...,0.649446,1.192826,0.24,1.003666,0.009922,1.000144,0,0,0,0
4,2019-12-01,151998.0,3.5,1.55,258.444,1.86,1.68,1.54,109.6357,3230.780029,...,0.657244,1.288781,0.32,1.002520,0.009776,1.006248,0,0,0,0

In [10]:
#declaring variables for features
#le = preprocessing.LabelEncoder()
#Treasury_spread=le.fit_transform(US_Dataset['10Y_Treasury_Rate'])
#Unemployment_rate =le.fit_transform(US_Dataset['Civilian_Unemployment_Rate'])
#Recession_12months =le.fit_transform(US_Dataset['Recession_in_12mo'])
Treasury_spread = US_Dataset['3M_10Y_Treasury_Spread']
Treasury_rate_12months = US_Dataset['10Y_Treasury_Rate_12_chg']
#Unemployment_rate = US_Dataset['Civilian_Unemployment_Rate']
Payroll = US_Dataset['Payrolls_3mo_vs_12mo']
#Sp_500_12months = US_Dataset['S&P_500_Index_12_month_pchg']
Effective_funds_12months = US_Dataset['Effective_Fed_Funds_12_chg']
Recession_6months = US_Dataset['Recession_in_6mo']
Recession_12months = US_Dataset['Recession_in_12mo']
Recession_24months = US_Dataset['Recession_in_24mo']

In [12]:

#built gaussian classifies
Model_gb = GaussianNB()
Features = np.array(list(zip(Treasury_spread,Payroll,Effective_funds_12months,Treasury_rate_12months)))
print(Features.shape)
#Predicting_variable = np.array(list(zip(Recession_6months,Recession_12months,Recession_24months)))
#print(Predicting_variable.shape)
#Model_gb.fit(Features,Recession_12months)

(778, 4)

In [39]:

#np.array.reshape(1, -1)
#lb = preprocessing.MultiLabelBinarizer()


X_train, X_test, y_train, y_test = train_test_split(Features,Recession_6months, test_size=0.30,random_state=350)
Model_gb.fit(X_train, y_train)
Prediction_for_6months = Model_gb.predict(X_test)
Prediction_for_6months

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [28]:

#Evaluationg Model
print("Accuracy:",metrics.accuracy_score(y_test, Prediction_for_6months))

Accuracy: 0.8717948717948718

In [34]:
predicted_probs = pd.DataFrame(Model_gb.predict_proba(X_test)[:,1])

predicted_probs

            0
0    0.481571
1    0.226152
2    0.182470
3    0.687824
4    0.143941
..        ...
229  0.001448
230  0.751724
231  0.002734
232  0.032563
233  0.123761

[234 rows x 1 columns]

In [40]:
#prediction for recession 12 months
X_train, X_test, y_train, y_test = train_test_split(Features,Recession_12months, test_size=0.30,random_state=350)
Model_gb.fit(X_train, y_train)
Prediction_for_12months= Model_gb.predict(X_test)
Prediction_for_12months
#Evaluationg Model
print("Accuracy:",metrics.accuracy_score(y_test, Prediction_for_12months))
predicted_probs = pd.DataFrame(Model_gb.predict_proba(X_test)[:,1])

predicted_probs

Accuracy: 0.8504273504273504

            0
0    0.481571
1    0.226152
2    0.182470
3    0.687824
4    0.143941
..        ...
229  0.001448
230  0.751724
231  0.002734
232  0.032563
233  0.123761

[234 rows x 1 columns]

            0
0    0.481571
1    0.226152
2    0.182470
3    0.687824
4    0.143941
..        ...
229  0.001448
230  0.751724
231  0.002734
232  0.032563
233  0.123761

[234 rows x 1 columns]

In [36]:

#prediction for recession 2 years
X_train, X_test, y_train, y_test = train_test_split(Features,Recession_24months, test_size=0.30,random_state=350)
Model_gb.fit(X_train, y_train)
Prediction_for_24months= Model_gb.predict(X_test)
print(Prediction_for_24months)
#Evaluationg Model
print("Accuracy:",metrics.accuracy_score(y_test, Prediction_for_24months))

[0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0
 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0
 0 0 0 1 1 0 0 0 0 0 0 0]
Accuracy: 0.8076923076923077

In [37]:
predicted_probs = pd.DataFrame(Model_gb.predict_proba(X_test)[:,1])

predicted_probs

            0
0    0.464514
1    0.015248
2    0.178717
3    0.560865
4    0.475272
..        ...
229  0.000031
230  0.295628
231  0.001466
232  0.017819
233  0.150428

[234 rows x 1 columns]